﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sanal Tur</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/menu.css" rel="stylesheet" />  

    <script src="~/Scripts/contact.js"></script>
    <link href="~/Content/contact.css" rel="stylesheet" />
    <link href="~/Content/register.css" rel="stylesheet" />
    
</head>
<body>
    <div class="barra">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">Online İşlemler <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hesabım</a></li>
                    <li><a href="#">Online Bilet</a></li>
                </ul>
            </li>
            <li><a href="#" >Hakkımızda</a></li>
            <li>@Html.ActionLink("İletişim","Contact","Home")</li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <footer>
       <p align="center">Copyright © 2016 || SAÜ WEB PROGRAMLAMA || MUSTAFA ŞAHİN b161210391 || @DateTime.Now.ToShortDateString().ToString()</p>     
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCZ3R3HV2ECPiClKyFX8Y_UMFg6T_2L1e0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>

</body>
</html>
