﻿@{
    ViewBag.Title = "İletişim";
}<section id="contact">
    <div id="map"></div>
    <div class="container text-center">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                <div class="contact-form-area">
                    <form>
                        <h3>İLETİŞİM</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ad" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Konu">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7" placeholder="Mesaj" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary contact-btn">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>


<script src="http://maps.google.com/maps/api/js?key=AIzaSyCZ3R3HV2ECPiClKyFX8Y_UMFg6T_2L1e0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>