﻿
<script src="~/Scripts/slider.js"></script>
<link href="~/Content/slider.css" rel="stylesheet" />
<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row">
                    <div class="container">
                        <div class="col-md-3 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                        </div>
                        <div class="col-md-9 text-left">
                            <h3 data-animation="animated bounceInDown">internetten kolay bilet alımı</h3>
                            <h4 data-animation="animated bounceInUp"> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row">
                    <div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown"> Kullanıcı ve kart bilgilerinde yüksek güvenlik</h3>
                            <h4 data-animation="animated bounceInUp">  </h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row">
                    <div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">Yurtiçi ve yurtdışı ulaşım</h3>
                            <h4 data-animation="animated bounceInUp"> </h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="item slide4">
                <div class="row">
                    <div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">Güvenli bir şekilde yüksek hızda ulaşım</h3>
                            <h4 data-animation="animated bounceInUp"> </h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item 4 -->

        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div align="center"><img src="~/image/sayfa-alt1.jpg"/> <img src="~/image/sayfa-alt2.jpg"/> <img src="~/image/sayfa-alt3.jpg"/>  </div>
